* {
    box-sizing: border-box;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 15px;
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: #9e9e9e70;
}

.body {
    background-color: rgb(251, 251, 252);
    position: relative;
    height: 100vh;
    margin: 0;
}

button{
    background-color: rgb(70, 83, 158);
    border: none;
    color: white;
    height: 27px;
    font-size: 14px;
    margin-right: 6px;
}

button:hover{
    cursor: pointer;
}


.container {
    width: 100%;
    height: 521px;
    background-color: rgb(228, 229, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    box-shadow: 0 2px 4px 0 rgba(63, 81, 181, 0.28), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-form {
    width: 100%;
    height: 56px;
    background-color: rgb(70, 83, 158);
    display: flex;
    padding-left: 3px;
    align-items: center;
}

#todo-input {
    padding: 0px 22px;
    background-color: rgb(228, 229, 238);
    color: black;
    border: none;
    width: 90%;
    height: 90%;
}

input[type=submit] {
    margin: 0px 3px;
    padding: 0px;
    background-color: rgb(70, 83, 158);
    color: white;
    border: none;
    width: 28px;
    height: 90%;
    text-align: center;
    font-size: 27px;
    font-family: sans-serif;
}

#todo-list {
    padding: 0px;
    margin: 14px 7px;
    overflow: auto;
    height: 403px;
}

.todo-item {
    list-style: none;
    padding-left: 32px;
    background-color: white;
    margin: 5px 5px 0px 5px;
    height: 52px;
    display: flex;
    justify-items: center;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(33, 150, 243, 0.25), 0 20px 50px 0 rgba(63, 81, 181, 0.12);
    align-items: center;
}

li.todo-item:hover {
    background-color: rgb(245, 247, 250);
}

.todo-complete {
    background-image: url("Images/ring.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    left: 9px;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.todo-complete:hover {
    cursor: pointer;
}

.todo-item-completed {
    background-image: linear-gradient(to right, rgb(245, 247, 250), white);
    color: rgb(174, 178, 182);
}

li.todo-item-completed>span.todo-title {
    text-decoration: line-through;
}

li.todo-item-completed>button.todo-complete {
    background-image: url("Images/check.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    left: 9px;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.todo-filter {
    position: absolute;
    top: 483px;
    background-color: rgb(228, 229, 238);
    width: 100%;
    height: 36px;
    text-align: center;
}

.todo-title {
    width: 169px;
    margin-left: 4px;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 15px;
    /* padding-bottom: 6px;
    margin-top: 10px; */
}

.todo-remove {
    position: absolute;
    right: 5px;
    background-image: url("Images/cancel\ \(1\).png");
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.todo-remove:hover {
    cursor: pointer;
}

.todo-edit{
    position: absolute;
    right: 26px;
    background-image: url("Images/edit\ \(1\).png");
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

/* div.todo-filter>button {
    background-color: rgb(70, 83, 158);
    border: none;
    color: white;
    height: 27px;
    font-size: 14px;
    margin-right: 6px;
} */

div.todo-filter>button.active {
    background-color: white;
    color: #6b6a6a;
    border: 1px solid rgb(127, 167, 251);
    box-shadow: 0 1px 2px 0 rgba(33, 150, 243, 0.25), 0 20px 50px 0 rgba(63, 81, 181, 0.12);
}

li.todo-item-editting{
    padding-left: 11px;
}

li.todo-item-editting>button:hover{
    background-color: white;
    color: #6b6a6a;
    border: 1px solid rgb(127, 167, 251);
}

li.todo-item-editting>input{
    padding: 0px 5px;
    background-color: rgb(228, 229, 238);
    color: black;
    border: none;
    width: 90%;
    height: 27px;
    border: 1px solid rgb(70, 83, 158);
}